.banner {
    height: 80vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    position: relative;
}

.banner-fade {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;

    background: rgb(255,255,255);
    background: linear-gradient(180deg,
        rgba(255,255,255,0.15) 0%, 
        rgba(255,255,255,0.018644957983193322) 70%, 
        rgba(0,0,0,0.88) 80%, 
        rgba(0,0,0,0.8841911764705882) 90%
        );
}

.banner-title {
    z-index: 2;
    padding: 25px;
    padding-left: 50px;
    font-size: 4em;
}

@media only screen and (max-width: 1025px) {     
    .banner {
        height: 80vh;
    }
    .banner-title {
        padding: 25px;
        padding-left: 50px;
        font-size: 3.5em;
    }   
}

@media only screen and (max-width: 850px) {     
    .banner {
        height: 80vh;
    }
    .banner-title {
        padding: 20px;
        padding-left: 45px;
        font-size: 3.2em;
    }   
}

@media only screen and (max-width: 650px) {     
    .banner {
        height: 80vh;
    }
    .banner-title {
        padding: 20px;
        font-size: 2.9em;
        text-align: center;
    }   
}

@media only screen and (max-width: 480px) {     
    .banner-title {
        font-size: 2.1em;
    }   
}


@media only screen and (max-width: 400px) {     
    .banner-title {
        font-size: 1.8em;
    }   
}