* {
    margin: 0;
    padding: 0;
}

.businessNews {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.business-news-headline {
    margin-bottom: -5px;
}

.business-news-card {
    position: relative;
    padding: 10px;
    box-sizing: border-box; /* Include padding within the width */
    border-radius: 2px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.business-author {
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 0.95em;
    color: rgb(81, 0, 134);
}

.business-url a, .find-more a {
    font-weight: 300;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.904);
}

.business-more {
    text-align: center;
    font-size: 1em;
}

@media (max-width: 1025px) {
    .businessNews {
        margin-top: 50px;
    }
    .business-news-headline {
        font-size: 2em;
    }
    .business-author {
        font-size: 0.95em;
    }.business-url a, .find-more a {
        font-weight: 300;
    }
    .find-more {
        font-size: 1em;
    }   
}

@media (max-width: 850px) {
    .businessNews {
        margin-top: 40px;
    }
    .business-news-headline {
        font-size: 1.7em;
    }
    .business-title {
        font-size: 1.5em;
    }
    .business-author {
        font-size: 0.85em;
        font-weight: 400;
    }.business-url a, .find-more a {
        font-size: 0.85em;
        font-weight: 400;
    }
}

@media (max-width: 650px) {
    .businessNews {
        margin-top: 35px;
    }
    .business-news-headline {
        font-size: 1.4em;
    }
    .business-title {
        font-size: 1em;
    }
    .business-author {
        font-size: 0.8em;
        font-weight: 400;
    }
    .business-url a, .find-more a {
        font-size: 0.8em;
        font-weight: 400;
    }
}

@media (max-width: 480px) {
    .business-news-headline {
        font-size: 1.2em;
    }
    .business-title {
        font-size: 0.9em;
    }
    .business-author {
        font-size: 0.75em;
        font-weight: 400;
    }
    .business-url a, .find-more a {
        font-size: 0.75em;
        font-weight: 400;
    }
}