.footer-info {
    background-color: rgb(15, 15, 15);
    color: white;
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

.copyright {
    background-color: black;
    color: white;
    text-align: center;    
}

.footer-info ul li {
    list-style: none;
}

.footer-nav ul {
    list-style: none;
}

.footer-nav ul li a {
    text-decoration: none;
    color: white;
}

@media (max-width: 620px) {
    .footer-info {
        padding: 50px;
        flex-direction: column;
        gap: 20px;
        text-align: center;
        font-weight: 900;
    }
    
    .copyright {
        font-size: 1.2em;  
    }
    
    .footer-info ul li {
        text-align: center;
        font-size: 1.5em;
        font-weight: 200;
    }

}