.MoreTrending {
    width: 100%;
    margin-top: 100px;
    background: rgb(0,0,0);
    background: linear-gradient(36deg, rgba(0,0,0,1) 8%, rgba(0,0,0,0.75) 50%, rgba(0,0,0,1) 90%);
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    padding: 15px;
    box-sizing: border-box; /* Include padding within the width */
  }

.moreTrending-headline {
    text-align: center;
    padding: 50px;
    /* color: rgb(20, 20, 20); */
    color: white;
  }

.more-news-cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 10px;
  }
  
  .news-card0 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  
  .news-card1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  
  .news-card2 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  
  .news-card3 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  
  .news-card4 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 6;
  }
  
  .news-card5 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;

    border-radius: 25px;
    background-color: white;
  }
  
.more-news-card {
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    position: relative;
    gap: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 2px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.more-news-image {
  width: 350px;
  background-size: cover;
  background-position: center;
  background-repeat: none;
}

.more-news-details {
  flex: 3;
}

.more-news-title {
  color: white;
  font-size: 1.5em;
  font-weight: 700;
}

.more-news-content {
  color: rgba(255, 255, 255, 0.938);
}

.more-news-content-false {
  display: none;
}

.more-news-content a{
  color: rgba(255, 255, 255, 0.938);
  text-decoration: none;
  font-weight: 700;
}

.more-news-source {
  color: rgba(255, 255, 255, 0.925);
  font-weight: 700;
}

.more-news-card-content {
  display: flex;
  gap: 10px;
}

.more-news-card-desc {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s; /* Add a transition for a smooth effect */
}

.click-for-more {
  display: none;
}

.more-news-card-desc p, .more-news-card-desc span {
  padding: 0 10px;
  color: white;
}

.more-news-card-desc a {
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 620px) { 
  .more-news-card-desc {
    visibility: visible;
  }

  .MoreTrending {
    width: auto;
    margin-top: 50px;
    padding: 10px;
  }

.moreTrending-headline {
    padding: 25px;
  }

.more-news-cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

.click-for-more {
  display: block;
  color: white;
  font-weight: 700;
}

  
  .news-card0 {
    flex: 1;
    order: 0;
  }
  
  .news-card1 {
    flex: 1;
    order: 5;
  }
  
  .news-card2 {
    flex: 1;
    order: 1;
  }
  
  .news-card3 {
    flex: 1;
    order: 2;
  }
  
  .news-card4 {
    flex: 1;
    order: 3;
  }
  
  .news-card5 {
    flex: 1;
    order: 1;
    height: 50px;
  }
  
.more-news-card, .news-card5 {
  flex: 1;
}

.more-news-card {
    min-height: 150px;
    padding: 10px;
}

.more-news-card:hover {
  padding: 0;
}

.more-news-card:hover > .more-news-card-desc {
  opacity: 1;
}

.more-news-image {
  width: 40%;
}

.more-news-title {
  font-size: 1.2em;
}

.more-news-source {
  color: rgba(255, 255, 255, 0.925);
  font-weight: 700;
  font-size: 0.8em;
}
}

@media only screen and (max-width: 800px) { 

}