.MoreTrending {
    width: 100%;
    border: solid 1px red;
}

.moreTrending-headline {
    text-align: center;
    padding: 50px;
    color: rgb(20, 20, 20);
}

.more-news-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 10px;
  }
  
  .news-card0 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  
  .news-card1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  
  .news-card2 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  
  .news-card3 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  
  .news-card4 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
  }
  
  .news-card5 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;

    background-color: white;
  }
  
.more-news-card {
    display: flex;
    background-color: white;
    padding: 10px;
}

.more-news-image {
    height: 150px;
}

