.Nav {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 999;
}

.nav-bar {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 150px;
    background-color: rgba(0, 0, 0, 0.87);
    transition: all 0.3s ease-in-out;
}

.logo {
    height: 70px;
    transition: all 0.2s ease-in-out;
}

.quote {
    font-size: 1.2em;
    color: white;
    transition: all 0.2s ease-in-out;
}

.top-news-line {
    background-color: rgba(155, 3, 3, 0.911);
    color: white;
    text-align: center;
    font-size: 0em;
    transition: all 0.2s ease-in-out;
}

.top-news-line p a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

/* Sticky CSS */

.nav-bar-sticky {
    background-color: black;
}

.logo-sticky {
    height: 50px;
}

.quote-sticky {
    color: white;
    font-size: 1em;
}

.top-news-line-sticky {
    background-color: rgb(128, 3, 3);
    font-size: 1em;
}

/* Small Desktop Style*/
@media only screen and (max-width: 1000px) {
    .nav-bar {
        padding: 10px 100px;
    }
}

/* Tablet Style*/
@media only screen and (max-width: 800px) {
    .nav-bar {
        padding: 10px 50px;
    }
}

/* Mobile Style */
@media only screen and (max-width: 600px) {
    .nav-bar {
        padding: 10px 25px;
    }
    
    .logo {
        height: 60px;
    }
    
    .quote {
        font-size: 1em;
    }
    
    /* Sticky CSS */
    
    .logo-sticky {
        height: 50px;
    }
    
    .quote-sticky {
        font-size: 0.9em;
    }
    
    .top-news-line-sticky {
        font-size: 0.8em;
        padding: 0 15px;
    }
}