* {
    margin: 0;
    padding: 0;
}

.NewsList {
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
}

.news-cardd {
    position: relative;
    padding: 10px;
    box-sizing: border-box; /* Include padding within the width */
    border-radius: 2px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.news-author {
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 0.95em;
    color: rgba(155, 3, 3, 0.911);
}

.news-url a {
    font-weight: 300;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.904);
}

@media only screen and (max-width: 1025px) {     
    .NewsList {
        padding: 50px;
    }
    .news-author {
        letter-spacing: 1px;
        font-size: 0.95em;
    }
    .news-title {
        font-size: 1.5em;
    }
    .news-url a {
        font-weight: 300;
    }   
}

@media only screen and (max-width: 850px) {     
    .NewsList {
        padding: 45px;
    }
    .news-author {
        letter-spacing: 1px;
        font-size: 0.85em;
    }
    .news-title {
        font-size: 1.3em;
    }
    .news-url a {
        font-size: 1em;
        font-weight: 300;
    }   
}

@media only screen and (max-width: 650px) {     
    .NewsList {
        padding: 40px;
    }
    .news-author {
        font-size: 0.75em;
        font-weight: 500;
    }
    .news-title {
        font-size: 1.1em;
    }
    .news-url a {
        font-size: 0.8em;
        font-weight: 500;
    }   
}

@media only screen and (max-width: 480px) {     
    .NewsList {
        padding: 35px;
    }
    .news-author {
        font-size: 0.65em;
        font-weight: 500;
    }
    .news-title {
        font-size: 0.9em;
    }
    .news-url a {
        font-size: 0.7em;
        font-weight: 500;
    }   
}