.weather-card {
    width: 100%;
    height: 100%;
    z-index: -1;
    background-repeat: none;
    background-position: top center;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
}

.weather-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.weather-city {
    text-align: center;
    font-size: 1.3em;
    padding-top: 15px;
    text-shadow: 1px 1px 1px black;
    color: white;
    background-color: transparent;
    border: none;
}

.weather-city:focus {
    outline: none;
}

.condition-details {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex: 2;
}

.weather-temperature {
    font-size: 1.2em;
    font-weight: 500;
    text-shadow: 1px 1px 1px black;
}

.weather-details {
    flex: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.weather-detail {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-shadow: 1px 1px 1px black;
    font-size: 0.85em;
}

.weather-detail p {
    font-weight: 700;
    text-shadow: 1px 1px 1px black;
}

